<h1> Lista de Mercado - Rails Girls 2025</h1>

<ul> 
<% @products.each do |product| %>
    <li> <%= link_to product.name, product_path(product.id)%> </li>
<% end %>
</ul>
<%= link_to "Clique aqui para Cadastrar", new_product_path%> 